body {
    box-sizing:border-box;
}

.container {
    width: 1280px;
    height: 1024px;
    background-image: url(../img/background-body.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}

/* HEADER */
header {
    padding-left: 150px;
    padding-right: 130px;
}

p img {
    float: left;
}

.contacts {
    padding-top: 10px;
    padding-left: 840px;
    text-align:left;
    font-family: Tahoma;
    font-size: 12px;
    line-height: 18px;
    color: #8ec7d5;
}

.contacts h1 {
    font-family: Tahoma;
    font-size: 12px;
    line-height: 18px;
    color: #41a1b9;
}


.countries {
    margin-top: 36px;
    margin-right: 30px;
}

.countries li {
    float: right;
    margin-left: 10px;
}

.countries li a {
    display: block;
    text-align: center;
    padding-top: 40px;
    background-position: center top;
    background-repeat: no-repeat;
    width: 50px;
    height: 17px;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: bold;
    color: #41a1b9;
}

.countries .india a {
    background-image: url(../img/india.png);
}

.countries .nepal a {
    background-image: url(../img/nepal.png);
}

.countries .tibet a {
    background-image: url(../img/tibet.png);
}

.countries .butane a {
    background-image: url(../img/butane.png);
}

.countries .sri-lanka a {
    background-image: url(../img/sri-lanka.png);
}

.countries .maldives a {
    background-image: url(../img/maldives.png);
}

/* NAV */
.main-menu {
    width: 1000px;
    display: block;
    margin-left: 150px;
    margin-right: 130px;
    border-bottom: 1px solid black;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.main-menu > li {
    float: left;
    position: relative;

}
ul.main-menu > li > a {
    display: block;
    padding: 8px 33.2px;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    color: #919191;
    background: linear-gradient(to top, #373737, #303030);
    text-decoration: none;
}
ul.main-menu > li > a:hover {
    background: linear-gradient(to top, #373737, #303030);
}
ul.second-level-menu {
    display: none;
    position: absolute;
    width: 160px;
    top: 29px;
    left: 20px;
    background: linear-gradient(to top, #373737, #303030);
    border-bottom: 1px solid black;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.8);
}
ul.second-level-menu > li {
    display: block;
}
ul.second-level-menu > li > a {
    display: block;
    padding: 10px;
    color: #919191;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    background-color: #303030;
    text-decoration: none;
}
ul.second-level-menu > li > a:hover {
    text-decoration: none;
}
ul.main-menu > li:hover > ul.second-level-menu {
    display: block;
}


/* MAIN BOX */
.main-box {
    width: 1000px;
    margin-top: 3px;
    margin-left: 150px;
    margin-right: 130px;
    overflow: hidden;
}

.sidebar {
    width: 210px;
    float: left;
    padding-bottom: 50000px;
    margin-bottom: -50000px;
    background-color: #edeef0;
    border-right: 1px solid #c7cacf;
    color: #9da29f;
}

.content {
    width: 580px;
    padding-bottom: 50000px;
    margin-bottom: -50000px;
}

.news {
    width: 210px;
    float: right;
    background-color: #edeef0;
    padding-bottom: 50000px;
    margin-bottom: -50000px;
    color: #9da29f;
    border-left: 1px solid #c7cacf;

}
.sidebar h1, .news h1 {
    font-family: Tahoma;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.7;
    text-align: center;
    color: #424c43;
}

.sidebar p, .news p {
    padding-left: 20px;
    /*padding-right: 10px;*/
    font-family: Tahoma;
    font-size: 14px;
    line-height: 24px;
    color: #707771;
}

.sidebar p:last-child, .news p:last-child {
    padding-bottom: 8px;
}


/* FOOTER */

.copyrights{
    margin-top: 8px;
    text-align: center;
    font-family: Tahoma;
    font-size: 14px;
    line-height: 24px;
    color: #cee3ec;
}
