

.wrapper {
    width: 420px;
    height: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px 45px 30px;
    background:linear-gradient(to top, #5893bc, #6a7b87) ;
    font-family: Arial, Helvetica, sans-serif;
}



h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;

}


.main_photo{
    text-align: center;
    display:block;
}

a{
    color: blue;
}

p, a, li {
    font-size: 20px;
    line-height: 1.6;
}

.worker,
.my_wishes .learning,
.contacts,
.profile,
.feedback {
    padding-left: 20px;
}

.my_wishes .my_interests{
    padding-left: 40px;
    line-height: 1.9;
}

.my_wishes,
.contacts,
.feedback{
    padding-top: 5px;
}

.my_interests {
    padding-top: 10px;
}


.contacts p {
    margin-bottom: -5px;
}


.profile {
    padding-top: 40px;
}

.profile p {
    margin-top: 5px;
}


hr {
    padding-top:0;
    padding-bottom:0;
}
