<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="js/template.js"></script>
    <script src="js/myProfile.js"></script>
</head>
<body>





<script type="text/html" id="profile">
<div class="wrapper">
   <div class="main_information">
   <h1><%= myName %></h1>
       <p class="main_photo">
           <img src="img/cat.jpg" alt="cat" width="130" height="130">
       </p>
    <p class="worker"><%= whatI %></p>
       </div>

   <hr>
   <div class="my_wishes">
       <p class="learning"><%= wishes %></p>
       <ul class="my_interests">
           <li><%= interests1 %></li>
           <li><%= interests2 %></li>
           <li><%= interests3 %></li>
       </ul>
   </div>

   <hr>

   <div class="contacts">
       <p><%= phone %><br>
           <%= phoneNumber%></p>
   </div>

   <div class="profile">
       <p><%= social %><br>
           <a href=""><%= socialSite %></a></p>
   </div>
   <hr>
   <div class="feedback">
       <p><%= feedback %><br>
           <%= can %></p>
   </div>
</div>

</script>


</body>
</html>
