@font-face {
    font-family: 'LeagueGothic-Regular';
    src: url('../fonts/LeagueGothic-Regular.eot') format('embedded-opentype');
src: url('../fonts/LeagueGothic-Regular.woff') format('woff');
src: url('../fonts/LeagueGothic-Regular.ttf')  format('truetype');
/*src: url('../fonts/LeagueGothic-Regular.svg') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.eot') format('embedded-opentype');
    src: url('../fonts/OpenSans-Light.woff') format('woff');
    src: url('../fonts/OpenSans-Light.ttf')  format('truetype');
    /*src: url('../fonts/OpenSans-Light.svg') format('svg');*/
    font-weight: normal;
    font-style: normal;
}



body {
    width: 2400px;
    background: url(../img/header.png), no-repeat; linear-gradient(to top, #322539, #745083);
}

.break-word {
    word-wrap: break-word;
}

.header:after,
.blog:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



.wrapper {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;

}



.wrapper__header {
    width: 100%;
    height: 850px;

}



.blog,
.logos {
    background: #f9f9f9;
}


.different {
    background: #ececec;
}

.about {
    background: linear-gradient(to top, #322539, #745083);
}

.wrapper__footer {
    background: url(../img/footer.png), no-repeat;
}



.logo {
    font-family: LeagueGothic-Regular;
    color: #ffffff;
}

/*.logo__er {
background: linear-gradient(to top, #745083,  #322539);
    color: transparent;
}*/

.h2 {
    font-family: LeagueGothic-Regular;
    color: #454545;
}

.h2_about {
    color: #ffffff;
}



.h2__starts {
    color: #edbfff;
}



.menu__item {
    font-family: LeagueGothic-Regular;
    font-size: 24px;

}

.menu__link {
    color: #ffffff;
    text-decoration: none;
}

.menu__link:hover {
    color: #ffffff;
}

.menu_home:hover {
    text-decoration: underline;
    color: #aea1b2;


}

.slider__tittle {
    color: #fefefe;
}

.slider__undertittle {
    color: #edbfff;
}

.text__slider,
.text {
    font-family: OpenSans-Light;
    font-size: 16px;
}
.text_slider,
.text_about {
color: #ffffff;
}



.more_about {
    color: #ffffff;
    text-decoration: none;

}

.text_start {
color: #454545;
}

.text_blog {
    color: #767676;
}

.text_different{
color: #a6a6a6;
}

.text_designed {
    color: #e8e8ea;
}
.text__ps {
    font-weight: bold;
    color: #ffffff;

}

.more_updates {
    color: #454545;
    text-decoration: none;
}

.header {
    width: 100%;
}


.header__logo {
    width: 30%;
    float: left;
    margin-top: 67px;
    margin-bottom: 154px;
    font-size: 48px;
}

.menu {
    width: 70%;
    float: right;

}


.menu__item {
    display: inline-block;
    margin-top: 74px;
    margin-bottom: 165px;
    box-sizing: border-box;
}

.menu__item {
    margin-left: 46px;
}

/*SLIDER*/

.wrapper__slider {
    width: 55%;
    float: left;
    margin-top: 88px;
    box-sizing: border-box;
}
.slider__tittle {
    font-family: LeagueGothic-Regular;
    font-size: 58px;
}

.slider__undertittle {
    font-family: LeagueGothic-Regular;
    font-size: 32px;
}

.text_slider {
    line-height: 24px;
    padding-top: 7px;
    letter-spacing: 0.05em;
}


/*ABOUT COMPANY*/

.about {
    width: 100%;
    height: 340px;
    box-sizing: border-box;
}

.about__company {
    display: inline-block;
    height: 200px;
    width: 25%;
    margin-top: 71px;
    margin-bottom: 65px;
   margin-left:60px;
    box-sizing: border-box;

}


.h2_about {

    font-size: 30px;
    color:#ffffff;
}

.text_about {
    max-height: 115px;
    overflow: hidden;
    padding-top: 10px;
    line-height: 24px;
    word-wrap: break-word;
}

.more_about {
    float: right;
    padding-top: 25px;
    padding-right: 22px;
    font-family: LeagueGothic-Regular;
    font-size: 18px;
}

/*BLOG*/

.blog {
    width: 100%;
    height: 482px;
    box-sizing: border-box;
}

.start {
    width: 44%;
    float: left;
    margin-top: 125px;
    margin-bottom: 60px;
    box-sizing: border-box;
    margin-right: 60px;
}


.start__photo img {
    position: absolute;
    margin-top: -12px;
}

.h2_start {
    display: block;
    position: relative;
    margin-left: 62px;
    margin-bottom: 10px;
    margin-top: 3px;
    font-size: 30px;

}

.text_start {
    margin-left: 63px;
    line-height: 24px;
    margin-top: -2px;
    word-spacing: -0.025em;

    overflow: hidden;
}

.updates {
    width: 45%;
    float: right;
    position: relative;
    margin-top: 125px;
    margin-bottom: 40px;
    box-sizing: border-box;

}


/* 960px*/

@media screen and (min-width:769px) and (max-width:960px) {


    .header {
        width: 100%;

    }




}

/*@media screen  and (max-width:420px) {

    .logo__header {
        color: greenyellow;
        position: absolute;
        width: 100%;
        display: block;
        margin: 150px 50px 170px 50px;
    }

    .menu {
        position: static;
        display: block;
        margin-top: 400px;
    }
}*/

