* {
  margin: 0;
  padding: 0; }

.squares1, .squares2 {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: black;
  border: 3px solid white;
  box-sizing: border-box; }

.squares2 {
  background-color: white;
  border: none;
  margin-left: 11px; }

.white__1, .white__2 {
  background: white;
  width: 1920px;
  height: 1012px; }

.white__2 {
  height: 783px; }

.darkgrey__1, .darkgrey__2 {
  background: #2a2d32;
  width: 1920px;
  height: 500px; }

.darkgrey__2 {
  height: 328px; }

body {
  width: 1920px;
  margin: 0 auto; }

/*HEADER*/
header {
  height: 678px; }

.logo-icons {
  width: 1160px;
  display: block;
  height: 43px;
  margin-top: 35px;
  margin-bottom: 35px;
  clear: both; }

.logo {
  float: left; }

.logo img {
  position: absolute;
  margin-left: 10px; }

.logo__build {
  margin-top: -5px;
  margin-left: 55px;
  font-size: 30px;
  color: black; }

.logo__industrial {
  margin-left: 55px;
  font-size: 12px;
  color: #8a8a8a; }

.follow {
  display: inline-block;
  float: right;
  margin-top: 40px; }

.fa {
  display: inline-block;
  float: right;
  margin-left: 17px;
  color: #8a8a8a; }

.fa:hover {
  color: #248cec;
  cursor: pointer; }

.panel {
  width: 1160px;
  background-color: #2a2d32;
  height: 56px;
  margin-bottom: 39px; }

.menu {
  display: block; }

.menu-header {
  height: 56px; }

.item {
  float: left;
  list-style: none; }

.item-header:first-child {
  background: #248cec; }

.item-link {
  color: white;
  font-size: 14px;
  text-decoration: none;
  margin: 0 40px;
  line-height: 55px; }

.item-link:hover {
  color: #f4b60d; }

form {
  float: right; }

input {
  width: 240px;
  height: 35px;
  color: #8a8a8a;
  margin-top: -45px;
  position: absolute;
  margin-left: -235px;
  background-color: #35383c;
  border: 1px solid black;
  opacity: 0.4; }

.fa-search:before {
  position: absolute;
  margin-top: -35px;
  margin-left: -35px;
  color: #8a8a8a; }

.header-write {
  position: absolute;
  font-size: 54px;
  margin-top: -285px;
  margin-left: 50px; }

.header-write-1 {
  color: white;
  margin-bottom: -25px;
  padding: 20px 10px 10px 35px;
  background: #2a2d32; }

.orange {
  color: #f4b60d; }

.header-write-business {
  color: white;
  margin: -12px -103px 16px 0;
  padding-left: 29px;
  padding-top: 15px;
  padding-bottom: 20px;
  background: #2a2d32; }

.jcarousel-wrapper {
  position: relative;
  width: 1160px;
  height: 480px; }

/** Carousel **/
.jcarousel {
  position: relative;
  overflow: hidden; }

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.jcarousel li {
  float: left; }

/** Carousel Pagination **/
.jcarousel-pagination {
  position: absolute;
  bottom: 20px;
  left: 50%; }

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  /*    font-size: 11px;*/
  line-height: 8px;
  min-width: 8px;
  background: white;
  color: white;
  /*    border-radius: 14px;*/
  padding: 3px;
  text-align: center;
  margin-right: 15px;
  /*    opacity: .75;*/ }

.jcarousel-pagination a.active {
  background: black;
  border: 4px solid white;
  color: black;
  /*    opacity: 1;*/
  /*    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);*/ }

/* SECTION 1 */
.section1 {
  height: 340px; }

.section-wrapper {
  float: left;
  display: block;
  width: 30%;
  margin-top: 60px;
  margin-bottom: 60px; }

.section-wrapper_2, .section-wrapper_3 {
  margin-left: 58px; }

.numeration {
  display: block;
  position: absolute;
  font-size: 95px;
  color: #8a8a8a; }

.image-sprite {
  margin-left: 100px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  background: url(../img/articles_sprite.png) no-repeat; }

.section-wrapper_1 .image-sprite {
  background-position: 2px; }

.section-wrapper_2 .image-sprite {
  background-position: -35px; }

.section-wrapper_3 .image-sprite {
  background-position: -75px; }

h2 {
  margin-left: 100px;
  margin-top: 10px;
  color: black;
  font-size: 24px; }

.text {
  font-size: 13px;
  color: #8a8a8a;
  font-family: Arial sans-serif;
  line-height: 20px; }

.text-section {
  margin-top: 20px;
  margin-left: 100px;
  width: 230px;
  height: 55px;
  overflow: hidden; }

.more {
  margin-left: 100px;
  margin-top: 15px; }

.link-more {
  font-size: 13px;
  color: black;
  text-decoration: none; }

.link-more:after {
  content: "\2192";
  color: #248cec;
  padding-left: 5px; }

.link-more:hover {
  color: #248cec; }

.link-more:hover:after {
  color: #8a8a8a; }

/*SERVICES*/
.services {
  width: 1160px;
  height: 500px;
  margin: 0 auto; }

.title {
  padding: 48px 0;
  font-size: 24px;
  color: white; }

.services-list li {
  display: inline-block;
  margin-right: 35px; }

.services-list li a {
  display: block;
  text-decoration: none;
  padding-top: 300px;
  color: white;
  text-align: center;
  background-position: center top;
  background-repeat: no-repeat; }

.image1 a {
  width: 250px;
  background: url(../img/services1.png) no-repeat; }

.image2 a {
  width: 250px;
  background: url(../img/services2.png) no-repeat; }

.image3 a {
  width: 250px;
  margin: 0;
  padding: 0;
  background: url(../img/services3.jpg) no-repeat;
  text-decoration: none;
  padding-top: 250px;
  color: white;
  text-align: center; }

.image4 a {
  width: 250px;
  margin: 0;
  padding: 0;
  background: url(../img/services4.png) no-repeat;
  text-decoration: none;
  padding-top: 250px;
  color: white;
  text-align: center; }

.services-list li a:hover {
  background: transparent url(../img/foto_above.png) no-repeat;
  color: orange; }

/*SECTION (3)*/
/*section,*/
.section3 {
  height: 525px; }

/*LATEST NEWS*/
.latest-news {
  float: left;
  margin-top: 60px; }

.news {
  display: block;
  width: 500px;
  margin-top: 25px;
  height: 150px; }

.news__photo {
  clear: both; }

.news-photo-january {
  position: absolute;
  margin-left: -15px;
  margin-top: -142px; }

.news-january {
  background: #248cec;
  color: white;
  font-size: 15px;
  padding: 10px; }

.news-figure {
  background: #f4b60d;
  color: black;
  font-size: 15px;
  padding: 10px; }

h3 a {
  color: black;
  font-size: 16px;
  text-decoration: none; }

h3 a:hover {
  color: #248cec; }

.description {
  color: #8a8a8a; }

.blue {
  color: #248cec; }

.news__content {
  margin-left: 180px;
  font-family: Arial sans-serif;
  line-height: 20px;
  margin-top: -145px; }

.text__news {
  width: 360px;
  height: 80px;
  padding-top: 20px;
  overflow: hidden; }

/* ACCIRDION PANEL */
.accordion {
  float: left;
  width: 560px;
  margin-left: 95px;
  margin-top: 60px; }

li {
  list-style: none; }

.title__accordion {
  width: 560px;
  margin-top: 30px;
  font-size: 13px;
  color: black;
  text-decoration: none; }

.title__accordion:before {
  content: "+";
  padding: 10px; }

.title__accordion:hover {
  background: #f4b60d;
  padding: 10px 375px 10px 10px;
  color: white; }

.title__accordion:hover:before {
  content: "-";
  padding: 10px;
  color: white; }

.text__accordion {
  margin: 30px;
  width: 500px;
  height: 110px;
  overflow: hidden;
  display: none; }

/* PHOTO COMPANIES */
.photo-companies {
  height: 255px; }

.photo-companies img {
  margin: 95px 0; }

/*FOOTER */
/* DOWN MENU */
.down-menu {
  display: block;
  background: #2a2d32;
  height: 300px; }

.down-menu-block {
  float: left;
  width: 250px; }

.down-menu-block-1,
.down-menu-block-2,
.down-menu-block-3 {
  margin-right: 50px; }

.menu__block-title {
  font-size: 24px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px; }

.item-menu1 {
  display: block;
  float: none;
  border-bottom: 1px solid #8a8a8a; }

.item-menu1 a {
  font-size: 13px;
  color: #8a8a8a;
  text-decoration: none;
  line-height: 30px; }

.item-menu1 a:hover {
  color: #248cec; }

/* FOOTER PART 2*/
.lightgrey {
  width: 1920px;
  height: 58px;
  background: #35383c; }

.menu_menu-footer {
  height: 50px;
  background: #35383c; }

.site-creation {
  padding-left: 1023px;
  margin-top: -35px;
  color: #8a8a8a; }

.item-footer {
  padding-top: 15px;
  margin-left: 40px;
  color: #8a8a8a; }

.item-footer:first-of-type {
  margin-left: 0; }

.item-footer-1:before {
  content: url(../img/location.png);
  padding-right: 10px; }

.item-footer-2:before {
  content: url(../img/phone.png);
  padding-right: 10px; }

.item-footer-3:before {
  content: url(../img/email.png);
  padding-right: 10px; }

header,
section,
footer {
  width: 1160px;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
