$black: black;
$white: white;
$grey: #8a8a8a;
$blue: #248cec;
$orange: #f4b60d;
$footer1-slider-panel: #2a2d32;
$footer2: #35383c;

$font-stack1: Ubuntu Medium; //Build Home, BUILD YOUR BUSINESS, h2, .more, .title (24px), h3(size: 16px), SOCIALS(16PX)
$font-stack2: Ubuntu Light; //INDUSTRIAL THEME
$font-stack3: UbuntuCondensed Regular; //menu in header
$font-stack4: Arial; // .text (font-size: 13px), .description (13px), .item-menu1(13PX), .item-footer(12PX), .site-creation(12PX)