@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue');
    src: url('../fonts/helveticaneuecyr-thin.eot');
    src: url('../fonts/helveticaneuecyr-thin.ttf');
    src: url('../fonts/helveticaneuecyr-thin.woff');
    src: url('../fonts/helveticaneuecyr-thin.woff2');
    font-weight: normal;
    font-style: normal;
}


body {
   box-sizing: border-box;
    background-color: #bfbfbf;
}


.wrapper {
   width: 1214px;
    height: 1066px;
    margin: 0 auto;
    background: url(../img/background2.jpg)  no-repeat;
    font-family: "Helvetica Neue";



}

.content{

}

.menu {
    width: 1214px;


}

.menu:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.menu li {
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 13px;
}

.menu .meu a,
.menu .forum a,
.menu .contacts a,
.menu .ajuda a {
    color: #60b5ed;
}

.menu .vendor a,
.menu .oferta a,
.menu .entrance a,
.menu .entrance span {
    color: #fefefe;
}

.menu .entrance {
    margin-right: 20px;
    padding-bottom: 13px;
    background: linear-gradient(to top,  #2e7ac4, #4daada);
}

.menu .vendor  {
    background: #4eabda;
    padding-bottom: 13px;
}

.menu .ajuda {
    border-right: 1px solid #60b5ed;
    padding-bottom: 13px;
}

.menu .meu a,
.menu .forum a,
.menu .contacts a,
.menu .ajuda a,
.menu .vendor a,
.menu .oferta a {
    text-decoration: none;
}

.menu .oferta img {
   margin-top: -5px;
    margin-right: -15px;
}

.entrance a {
    text-decoration-color: #9ac2e4;
}

/* MAIN*/

.tittle-cadastre {
    width: 556px;
    background:  rgba(32, 38, 35, 0.7);;
   margin-top:227px;
   margin-left: 327px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #dbdbda;
}


.registration {
    width: 556px;
    text-align: center;
    background:  rgba(32, 38, 35, 0.7);
    margin-top: 5px;
   margin-left: 327px;

}

.registration p img {
    margin-top: 36px;
}


.ou {
    width: 295px;
    margin-left: 130px;
    margin-top: 16px;
    margin-bottom: 25px;
    font-size: 16px;
    color: #686d67;
    text-align: center;
}

.ou hr {
    margin-left: 9px;
    margin-right: 9px;
    width:40%;
    color: #686d67;

}

.left {
    float:left;
}

.right {
    float:right;
}

 .registration form input {
    margin-bottom: 5px;
     padding-top: 8px;
     padding-bottom: 8px;
     padding-right: 115px;
    background-color: #0f0e0e;
    border: 1px solid #0f0e0e;
    color: white;
     font-size: 14px;
     line-height: 14px;
}

 .filling_fields input {
     padding-left: 15px;
     padding-left: 15px;
 }

.registration form input[type="checkbox"]{
    margin-left: -50px;
    margin-top: -5px;

}

.registration form input[type="checkbox"] + label {
    color: #cccccc;
    font-size: 14px;
}

.registration form input[type="submit"] {
   width: 155px;
    margin-top: -25px;
    padding-left: 5px;
    padding-right: 5px;
    background: linear-gradient(to top, #467790, #67c6e6);
    border: none;
    border-radius: 3px;
    color: #cccccc;
    font-weight: bold;

}

.registration form input:focus {
    background-color: #1b5288;
    border: 1px solid #5893bc;
    box-shadow: 0 -1px 2px 3px rgba(88,147,188,0.7);

}

 .agreement {
    color: #cccccc;
    font-size: 13px;
    line-height:17px;
     margin-top: -5px;
     padding-bottom: 16px;
}

