$montserratR: Montserrat Regular, sans-serif;
$montserratB:  Montserrat Bold, sans-serif;
$robotoL: Roboto Light, sans-serif;

$light-red: #ff4e50;

$white: white;
$black: black;
* {
  margin: 0;
  padding: 0;
}
@import 'variables';
@import 'nesting';
@import 'extend';
@import 'mixins';

@media (max-width: 320px) {
header {
  background: url(../img/header_desktop.jpg) no-repeat;
}

  .holiday {
    width: 100%;
height: 542px;
  }

  .holiday-buttons {
    display:block;
    margin-top: 20px;
    text-align: center;

  }




}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.holiday__button--1,
.holiday__button--2,
.slider__button,
.partners__other,
.search__button-partners {
  @include border-radius(20px);
}
