$montserratR: Montserrat Regular, sans-serif;
$montserratB:  Montserrat Bold, sans-serif;
$robotoL: Roboto Light, sans-serif;

$light-red: #ff4e50;
$grey: #b8b8b8;
$dark-grey: #a0a0a0;
$g-grey: #b4b4b4;
$white: white;
$black: black;